.task {
  height: auto;
}

.text {
  height: 200px;
  overflow: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #F2F2F2;
}

.list0 { display: block }
.list1 { display: block }
.list2 { display: block }
.list3 { display: block }
.list4 { display: block }
.list5 { display: block }
.list6 { display: block }
.list7 { display: block }
.list8 { display: block }
