.task {
  height: 95%;
}

.text {
  height: 200px;
  border: 1px solid #E8C48F;
  padding: 3px;
  overflow: auto;
  margin-bottom: 10px;
}

.list-header {
  text-align: center;
  border-bottom: 1px solid #111111;
}

.lists {
  display: inline;
  float: left;
}

.list {
  float:left;
  margin-right: 15px;
  width: 250px;
  height: 350px;
  border: 1px solid #111111;
}

list:focus {
  background: blue;
}
